
body {
  color: black;
}



  p {
  color: black;
}

h1 {
  font-family: "times roman serif";
}


h1{
  color: blue;
}
@media screen and (max-width: 480px) {
  body{
      background-color:  blue;
  }

}
